<div style="text-align: center">
  <br>
  <h3 style="text-align: center;">About this website</h3>
  <p>This is a collection of a few classic algorithms used for different and varied purposes. </p>
  <p>It is important to apply the right algorithm just as it is important to pick the right data structure.</p>
  <p>For each algorithm, we present a brief description of it, what it's used for, its
    time and space complexity, an example and a java implementation. You can try out the algorithm
    running on a server.
  </p>
  <p>Graph Algorithms will attempt to draw a graph image.</p>
  <br>
  <h4>Technologies used</h4>
  <br>
  <div class="row"><strong>Backend</strong></div>
  <div class="row"><p>Java</p></div>
  <div class="row"><p>Spring Boot</p></div>
  <div class="row"><p>Google Cloud Platform</p></div>
  <div class="row"><strong>Frontend</strong></div>
  <div class="row"><p>TypeScript</p></div>
  <div class="row"><p>Angular</p></div>
  <div class="row"><p>Sigma.js</p></div>
  <div class="row"><strong>Styling</strong></div>
  <div class="row"><p>Bootstrap</p></div>
  <div class="row"><strong>Tools</strong></div>
  <div class="row"><p>Docker</p></div>
  <div class="row"><p>Git</p></div>

</div>
